<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GyroMouseServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GyroMouseServer.Preferences" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <GyroMouseServer.Properties.Settings>
            <setting name="autoStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startMin" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showNotif" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="sensitivity" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="acceleration" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="preferredUDPPort" serializeAs="String">
                <value>9050</value>
            </setting>
            <setting name="autoServe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="preferredTCPPort" serializeAs="String">
                <value>13000</value>
            </setting>
        </GyroMouseServer.Properties.Settings>
    </userSettings>
</configuration>